<!-- <div class="pt-3">
<nav class="container" style="color: rgb(209, 228, 235); background-color: rgb(12, 12, 11);">
    <h3 style="text-align: center;">Update Employee</h3>
</nav>
</div>
<div class="container pt-3">


    <div id="id">
        <form [formGroup]="updateForm" novalidate class="form-group" style="background-color: rgb(230, 230, 243);"
            (submit)="onreactivesubmit()">

            <div class="row">
                <div class="col-lg-12">
                    <label>ID</label>
                    <input type="text" class="form-control" placeholder="Update Your Id" formControlName="id">
                    
                </div>


                <div class="col-md-12">
                    <label>Employee Name</label>
                    <input type="text" class="form-control" placeholder="Update Your Name"
                        formControlName="name">
                   

                </div>
            </div>



            <div class="row">
                <div class="col-lg-6">
                    <label>Employee Salary</label>
                    <input type="text" class="form-control" placeholder="Update Your Salary"
                        formControlName="salary">
                    
                </div>



                <div class="col-lg-6">
                    <label>Employee Age</label>
                    <input type="text" class="form-control" placeholder="Update Your Age" formControlName="age">
                    
                </div>
            </div>


        
            <div class="pt-2">
            <button type="submit" class="btn btn-secondary form-control"><h4><b>Update</b></h4></button>
        </div>

        </form>
    </div>

</div> -->
