

<div class="container pt-3">
    <form #loginForm="ngForm" novalidate style="background-color: rgb(236, 245, 185);" (submit)="onsignup()">
    <div class="row">
            <div class="offset-3 col-6 offset-3 form-group">
                <label>Email</label>
                <input type="text" name="email" class="form-control" placeholder="Enter Your Email"
                    [(ngModel)]="registerdata.email" #email="ngModel" required>
                <div class="form-control-feedback" *ngIf="email.errors &&(email.touched || email.dirty)">
                    <span *ngIf="email.errors.required" class="text-danger">Email Is Required</span>
                    <span *ngIf="email.errors.pattern" class="text-danger">Email Must Contain at least the @
                        Chracter</span>
                </div>
            </div>

            <div class="offset-3 col-6 offset-3 form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter Your Password"
                    [(ngModel)]="registerdata.password" required minlength="8" #password=ngModel />
                <div class="form-control-feedback" *ngIf="password.errors && (password.touched ||password.dirty)">
                    <span *ngIf="password.errors.required" class="text-danger">Password is Required</span>
                    <span *ngIf="password.errors.minlength" class="text-danger">Password Minimum Must be 8
                        characters</span>
                </div>
            </div>
            <div class="offset-3 col-6 offset-3 form-group">
                <button type="submit" class="btn btn-primary form-control">LogIn</button>

            </div>

        </div>
    </form>
</div>